# Ignore the app files
ex5/App/*
ex6/App/*

# Ignore project files
ex2_4/ml-kurkkumopo-backend
ex2_4/ml-kurkkumopo-frontend
ex2_4/ml-kurkkumopo-training
ex2_4/imgs
ex2_4/model

# Expection of files to be ignored
!ex5/App/Dockerfile
!ex6/App/Dockerfile
ex6/App/logs.txt

# Backup Files
*.*~
