.button {
  width: 220px;
  height: 220px;
  background-color: black;
	grid-template-columns: 120px 120px 120px;
	grid-auto-rows: 100px 100px 100px;
	grid-row-gap: 0;
	grid-column-gap: 0;
  color: white;
  float: left;
  font-size: 140px;
  margin: 10px 20px;
  padding: 5px 0px;
  text-align: center;
	transition: all .70s ease;
  border-radius: 50%;
  cursor: pointer;
}
#button0{
	grid-row-start: 1;
	grid-column-start: 2;
	background-color: blue;
}
#button1{
	grid-row-start: 2;
	grid-column-start: 1;
	background-color: green;
}
#button2{
	grid-row-start: 2;
	grid-column-start: 3;
	background-color: purple;
}

.playing {
  transform: scale(1.1);
	border: 10px solid;
  border-color: black;
  box-shadow: 0 0 1rem white;
}
.active {
	background-color: red;
}
